{% extends 'base.html' %}

{% block content %}
<form method="post">
{%csrf_token%}
<div class="container mt-4">
<h4>Create a Store</h4>
{{ form.as_p }}
<button type="submit" class="btn btn-success">Create</button>
</form>
</div>
{%endblock%}

