{% extends 'base.html' %}

{% block content %}

<form method="post">
{%csrf_token%}

<div class="container mt-4">

    {{ form.as_p }}

    <button type="submit" class="btn btn-success">Confirm</button>

    </form>

    {{ form.errors }}
    
</div>
{%endblock%}
