{% extends 'base.html' %}
{% load static %}
{% load is_store_favorited %}

{% block script %}
<link rel="stylesheet" href="{% static 'css/favorite.css' %}">
{%endblock%}

{% block content %}
   
<div class="container mt-4">
<h3>My Stores</h3> 
  <div class="row">
    <div class="col-3">
    {% if not stores %} <h6>You do not have a store yet.</h6> {% endif %}
    {% for store in stores %}
      <div class="card-body">
        <h5 class="card-title">{{store.name}}</h5>
        <p class="card-text">{{store.city}}</p>

        {%if store.owner == request.user%}
        <a href="{% url 'edit_store' store.id %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'delete_store' store.id %}" class="btn btn-danger">Delete</a>
        <p style="font-size: 10px; font-style:italic;">If you delete your store, all products in that store will be deleted.</p>
        {%endif%}


        {%if request.user|is_store_favorited:store.id %}
            <button type="button" class="btn btn-primary fav_button" name="remove_favorite" onclick="addFavoriteStore(this,'{{store.id}}')" \
              style="color:#F4B30A;">★</button>
        {%else%}
            <button type="button" class="btn btn-primary fav_button" name="add_favorite" onclick="addFavoriteStore(this,'{{store.id}}')" \ 
              style="color:#FFFFFF;">★</button>
        {% endif %}
      </div>
      {%endfor%}
    </div>
  </div>
</div>

<script src="{% static 'js/add_favorite_store.js' %}"></script>
{% endblock %}

<style>

</style>