{% extends 'base.html' %}

{% block content %}
<form method="post" enctype="multipart/form-data">
{%csrf_token%}
<div class="container mt-4">
    {% if stores %}
        {{ form.as_p }}
    <button type="submit" class="btn btn-success">Create</button>
    {% else %}
    <p>You must have a store in order to create products. Click <a href="{% url 'create_store' %}">here</a> to create one.</p>
    {% endif %}
</form>

</div>
{%endblock%}

