{% extends 'base.html' %}

{% block content %}

<form method="post" enctype="multipart/form-data">
{%csrf_token%}

<div class="container mt-4">

    {{ form.as_p }}

    <button type="submit" class="btn btn-success">Confirm</button>

    </form>
    {{form.errors}}
    {{form.non_field_errors}}
   
    
</div>
{%endblock%}

{% block css %}

{% endblock %}