{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container">
    <div class="row">
        <div class="span12">
            <form class="form-horizontal" action='' method="POST">
                {% csrf_token %}
                <fieldset>
                    <div id="legend">
                        <legend class="">Login</legend>
                    </div>
                    <div class="control-group">
                        <!-- Username -->
                        <label class="control-label" for="username">E-mail</label>
                        <div class="controls">
                            <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <!-- Password-->
                        <label class="control-label" for="password">Password</label>
                        <div class="controls">
                            <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <!-- Button -->
                        <div class="controls">
                            <button id="login-btn" class="btn btn-success">Login</button>
                        </div>
                    </div>
                        <p style="font-size:12px;">Don't have an account? Click <a href="{% url 'signup' %}">here</a> to create one.</p>

                </fieldset>
                {% if error %}
                    <p style="color:red;">{{error}}</p>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}