{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container">
    <div class="row">
        <div class="span12">
            <form class="form-horizontal" action='' method="POST">
                {% csrf_token %}
                <fieldset>
                    <div id="legend">
                        <legend class="">Sign Up</legend>
                    </div>
                    <div class="control-group">
                        <!-- Username -->
                        <label class="control-label" for="email">E-mail</label>
                        <div class="controls">
                            <input type="text" id="email" name="email" placeholder="" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <!-- Password-->
                        <label class="control-label" for="password">Password</label>
                        <div class="controls">
                            <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <!-- Password-->
                        <label class="control-label" for="confirm_password">Confirm Password</label>
                        <div class="controls">
                            <input type="password" id="confirm_password" name="confirm_password" placeholder="" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <!-- Password-->
                        <div class="controls">
                        <label class="control-label" for="is_owner">Owner: </label>
                            <input type="checkbox" id="is_owner" name="is_owner" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <!-- Button -->
                        <div class="controls">
                            <button class="btn btn-success">Sign Up</button>
                        </div>
                    </div>
                    {{form.errors}}
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}