{% extends 'base.html' %}
{% load static %}
{% load is_product_favorited %}
{% load is_store_favorited %}

{% block script %}
<link rel="stylesheet" href="{% static 'css/favorite.css' %}">
{%endblock%}

{% block content %}
   
<div class="container mt-4">
<h3>My Favorite List</h3> 
  <div class="row">
  <div class="col-3">
    {% if not products %} <h6>You do not have anyfavorited product yet.</h6> 
    {% else %}
        {% for product in products %}
        <div class="card-body">

            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">Color: {{product.color}}</p>
            <p class="card-text">Price: ${{product.price}}</p>
            <p class="card-text">Store Name: {{product.store.name}}</p>
            {%if request.user|is_product_favorited:product.id %}
                <button type="button" class="btn btn-primary fav_button" name="remove_favorite" onclick="addFavoriteProduct(this,'{{product.id}}')" \
                style="color:#F4B30A;">★</button>
            {%else%}
                <button type="button" class="btn btn-primary fav_button" name="add_favorite" onclick="addFavoriteProduct(this,'{{product.id}}')" \ 
                style="color:#FFFFFF;">★</button>
            {% endif %}

        </div>
        {%endfor%}
      {% endif %}
    </div>
    <div class="col-3">
    {% if not stores %} <h6>You do not have any favorited store yet.</h6> 
    {% else %}
        {% for store in stores %}
        <div class="card-body">
            <h5 class="card-title">{{store.name}}</h5>
            <p class="card-text">City: {{store.city}}</p>
            <p class="card-text">Owner: {{store.owner.email}}</p>
            {%if request.user|is_store_favorited:store.id %}
                <button type="button" class="btn btn-primary fav_button" name="remove_favorite" onclick="addFavoriteStore(this,'{{store.id}}')" \
                style="color:#F4B30A;">★</button>
            {%else%}
                <button type="button" class="btn btn-primary fav_button" name="add_favorite" onclick="addFavoriteStore(this,'{{store.id}}')" \ 
                style="color:#FFFFFF;">★</button>
            {% endif %}
        </div>
        {%endfor%}
      {% endif %}
    </div>
  </div>
</div>
<script src="{% static 'js/add_favorite_product.js' %}"></script>
<script src="{% static 'js/add_favorite_store.js' %}"></script>
{% endblock %}


<style>
{%block css %}

.card-body {
    border: 1px solid;
    margin-top: 2px;
}
{% endblock %}

</style>