{% load static %}
{% load check_if_owner %}
<!DOCTYPE html>

<html>

<head>
    {% block title %}
    <title>Fazla Gıda</title>
    {% endblock %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/bootstrap_custom.css'%}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
    {% block script %}{%endblock%}
</head>

<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="{% url 'index' %}">Fazla Gıda</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  {% if user.is_authenticated %}
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">All Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'list_stores' %}">All Stores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'my_favorites' %}">My Favorites</a>
      </li>
      {% if user|is_owner %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'create_store'%}">Create Store</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'create_product'%}">Create Product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'list_my_stores' %}">My Stores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'list_my_products' %}">My Products</a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" style="color:red;" href="{% url 'logout' %}">Log Out</a>
      </li>    
    </ul>

    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a class="nav-link" href="#">Welcome, {{request.user.email}}</a>
        </li>
    </ul>
        
  </div>
  {% endif %}
</nav>
    {% block content %}
    {% endblock %}
<script src="{% static 'js/get_csrf_token.js'%}"></script>

</body>

</html>

<style>
.navbar {
    padding-left: 20px;
    padding-right: 20px;
}
{% block css %}

{% endblock %}
</style>



