{% extends 'base.html' %}
{% load static %}
{% load is_product_favorited %}

{% block script %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/favorite.css' %}">
{%endblock%}


{% block content %}
   
<div class="container mt-4">
<h3>All Products - Mainpage</h3> 
  <div class="row">
  {% for product in products %}
    <div class="col-3">
      <img class="card-img-top" src="{{product.picture.url}}"   alt="Product Image">
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">Color: {{product.get_color_display }}</p>
        <p class="card-text">Price: ${{product.price }} </p>
        <p class="card-text">Store: {{product.store.name}} </p>

        {%if request.user|is_product_favorited:product.id %}
            <button type="button" class="btn btn-primary fav_button" name="remove_favorite" onclick="addFavoriteProduct(this,'{{product.id}}')" \
              style="color:#F4B30A;">★</button>
        {%else%}
            <button type="button" class="btn btn-primary fav_button" name="add_favorite" onclick="addFavoriteProduct(this,'{{product.id}}')" \ 
              style="color:#FFFFFF;">★</button>
        {% endif %}
        {%if product.store.owner == request.user %}
        <a href="{% url 'edit_product' product.id %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'delete_product' product.id %}" class="btn btn-danger">Delete</a>
        <p style="font-size: 10px; font-style:italic;">If you delete your store, all products in that store will be deleted.</p>

        {%endif%}
      </div>
    </div>
    {%endfor%}
  </div>
</div>
<script src="{% static 'js/add_favorite_product.js'%}"></script>
{% endblock %}

